@import "../../css/colors.css";

.green-flag {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
}

/* DEL BY GL 20201029 START
.green-flag:hover {
    background-color: $motion-light-transparent;
}

.green-flag.is-active {
    background-color: $motion-transparent;
}
DEL BY GL 20201029 END */

/* ADD BY GL 20201029 START */
.green-flag-button {
    display: block;
    border: 1px solid $ui-black-transparent;
    border-radius: calc(0.5rem / 2);
    /* width: calc(2rem + 2px); */
    height: calc(2rem + 2px);
    background: $ui-white;
    /* padding: 0.375rem; */
    user-select: none;
    cursor: pointer;
    margin-left: 0.5em;
}

.green-flag-button:hover {
    background-color: $motion-light-transparent;
}

.green-flag-button.is-active {
    background-color: $motion-transparent;
}

.green-flag-label {
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 0.75rem;
    line-height: calc(2rem + 2px);
}
/* ADD BY GL 20201029 END */